
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/icons")
    @Styles.Render("~/Content/dropdowns")
    @Styles.Render("~/Content/basecss")
    @Styles.Render("~/Content/toastrcss")
    @if (@ViewBag.Title == "Login")
    {
        @Styles.Render("~/Content/socialcss")
    }

</head>
<body class="layout-2">
    @RenderBody()

    @Scripts.Render("~/Content/basejs")
    @Scripts.Render("~/Content/vendorjs")
    @Scripts.Render("~/Content/toastr")

    @if (@ViewBag.Title == "Register")
    {
        @Scripts.Render("~/Content/register")
    }
    @if (ViewBag.Title == "Document Repository")
    {
        @Scripts.Render("~/Content/internal-pages")
    }
    @if (ViewBag.Title == "Received Merge Requests")
    {
        @Scripts.Render("~/Content/internal-pages")
    }

    @Scripts.Render("~/Content/templatejs")
    @RenderSection("scripts", required: false)
</body>
</html>
